Name destiny martinez

Labpartner(s)

In [1]:
#import statements go here
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Lab 4.2 

Wednesday labs are due Sunday at midnight

## Instructions

For each class, download the lab and have it up and running in Jupyter when we begin the class period. This will allow you to code along with the demonstrations and be ready to go. You will be assigned a lab partner in your breakout room, they are your partner for this lab. Put their name above.

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your **completed score** for the chapter assigned in datacamp to the assignment tab in Blackboard.

# Warmups 4.2

W.1-3 Do exercises 1-3 in http://scipy-lectures.org/intro/numpy/exercises.html#data-statistics. See lab 4.1  on how to load in the data file

In [2]:
data_pd = pd.read_csv('http://scipy-lectures.org/_downloads/populations.txt', sep = '\t', index_col = '# year')
data_pd

           hare     lynx  carrot
# year
1900    30000.0   4000.0   48300
1901    47200.0   6100.0   48200
1902    70200.0   9800.0   41500
1903    77400.0  35200.0   38200
1904    36300.0  59400.0   40600
1905    20600.0  41700.0   39800
1906    18100.0  19000.0   38600
1907    21400.0  13000.0   42300
1908    22000.0   8300.0   44500
1909    25400.0   9100.0   42100
1910    27100.0   7400.0   46000
1911    40300.0   8000.0   46800
1912    57000.0  12300.0   43800
1913    76600.0  19500.0   40900
1914    52300.0  45700.0   39400
1915    19500.0  51100.0   39000
1916    11200.0  29700.0   36700
1917     7600.0  15800.0   41800
1918    14600.0   9700.0   43300
1919    16200.0  10100.0   41300
1920    24700.0   8600.0   47300

In [9]:
#largest population for chart above ; type idx.max
data_pd.idxmax()

populations = data_pd.transpose()
populations.idxmax()

# year
1900    carrot
1901    carrot
1902      hare
1903      hare
1904      lynx
1905      lynx
1906    carrot
1907    carrot
1908    carrot
1909    carrot
1910    carrot
1911    carrot
1912      hare
1913      hare
1914      hare
1915      lynx
1916    carrot
1917    carrot
1918    carrot
1919    carrot
1920    carrot
dtype: object

In [8]:
# mean and standard deviation
print(data_pd.mean())
print(data_pd.std())

hare      34080.952381
lynx      20166.666667
carrot    42400.000000
dtype: float64
hare      21413.981859
lynx      16655.999920
carrot     3404.555771
dtype: float64

# Lecture 4.2

Agenda:
- Coding questions
- Tabs in python. 

Some relevant coding humor: https://www.youtube.com/watch?v=JfEIkkDkrmE
- All about final projects

See final project files on github under Course Materials folder

# Lab 4.2

**E.1** Complete intermediate python chapter 3: Logic, Control Flow and Filtering

Note that the tutorials here have similar material for your needs:
https://github.com/chsharrison/IntroSciComp_S2021/blob/main/Class_materials/resources.md

**E.2** Make notes for yourself on all of the progamming tecniques and commands you learned in the datacamp chapter above, including examples, comments and explainitory text. You can do this here or in a separate notebook that you link to here. Basically, you are making a cheat sheet for yourself.

**E.3** Exercise 1 on https://www.practicepython.org

In [5]:
name = input("please enter your name here: ")
age = int(input("enter your age here: "))
b = str((100 - age) + 2021)
print(name+ " will be 100 years old in the year " + b)

please enter your name here: destiny
enter your age here: 22
destiny will be 100 years old in the year 2099

**E.4** Exercise 2 on https://www.practicepython.org

In [6]:
num = input("enter a number: ")
mod = num % 2
if mod > 0:
    print("you picked an even number.")
else:
    print("you picked an odd number")

enter a number: 22

TypeError: not all arguments converted during string formatting

Don't forget to do some practicing of what you have been learning, including previous labs

**You did it!**