Name

Adam Sanjar

Labpartner(s)

Kara Eckley

In [1]:
#import statements go here
import numpy as np
import matplotlib.pyplot as plt    
import pandas as pd

# Lab 4.2 

Wednesday labs are due Sunday at midnight

## Instructions

For each class, download the lab and have it up and running in Jupyter when we begin the class period. This will allow you to code along with the demonstrations and be ready to go. You will be assigned a lab partner in your breakout room, they are your partner for this lab. Put their name above.

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your **completed score** for the chapter assigned in datacamp to the assignment tab in Blackboard.

# Warmups 4.2

W.1-3 Do exercises 1-3 in http://scipy-lectures.org/intro/numpy/exercises.html#data-statistics. See lab 4.1  on how to load in the data file

In [12]:
w1=pd.read_csv('populations.txt','\t',index_col=0)
w1

           hare     lynx  carrot
# year
1900    30000.0   4000.0   48300
1901    47200.0   6100.0   48200
1902    70200.0   9800.0   41500
1903    77400.0  35200.0   38200
1904    36300.0  59400.0   40600
1905    20600.0  41700.0   39800
1906    18100.0  19000.0   38600
1907    21400.0  13000.0   42300
1908    22000.0   8300.0   44500
1909    25400.0   9100.0   42100
1910    27100.0   7400.0   46000
1911    40300.0   8000.0   46800
1912    57000.0  12300.0   43800
1913    76600.0  19500.0   40900
1914    52300.0  45700.0   39400
1915    19500.0  51100.0   39000
1916    11200.0  29700.0   36700
1917     7600.0  15800.0   41800
1918    14600.0   9700.0   43300
1919    16200.0  10100.0   41300
1920    24700.0   8600.0   47300

In [13]:
print(w1.mean())
print(w1.std())

hare      34080.952381
lynx      20166.666667
carrot    42400.000000
dtype: float64
hare      21413.981859
lynx      16655.999920
carrot     3404.555771
dtype: float64

In [28]:
w1.idxmax()

hare      1903
lynx      1904
carrot    1900
dtype: int64

In [33]:
w3 = w1.transpose()
w3.idxmax()

# year
1900    carrot
1901    carrot
1902      hare
1903      hare
1904      lynx
1905      lynx
1906    carrot
1907    carrot
1908    carrot
1909    carrot
1910    carrot
1911    carrot
1912      hare
1913      hare
1914      hare
1915      lynx
1916    carrot
1917    carrot
1918    carrot
1919    carrot
1920    carrot
dtype: object

In [59]:
data = np.loadtxt('populations.txt')
year, hares, lynxes, carrots = data.T
populations = data[:,1:]

print("       Hares, Lynxes, Carrots")
print("Mean:", populations.mean(axis=0))
print("Std:", populations.std(axis=0))

j_max_years = np.argmax(populations, axis=0)
print("Max. year:", year[j_max_years])

max_species = np.argmax(populations, axis=1)
species = np.array(['Hare', 'Lynx', 'Carrot'])
print("Max species:")
print(year)
print(species[max_species])

       Hares, Lynxes, Carrots
Mean: [34080.95238095 20166.66666667 42400.        ]
Std: [20897.90645809 16254.59153691  3322.50622558]
Max. year: [1903. 1904. 1900.]
Max species:
[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]
['Carrot' 'Carrot' 'Hare' 'Hare' 'Lynx' 'Lynx' 'Carrot' 'Carrot' 'Carrot'
 'Carrot' 'Carrot' 'Carrot' 'Hare' 'Hare' 'Hare' 'Lynx' 'Carrot' 'Carrot'
 'Carrot' 'Carrot' 'Carrot']

# Lecture 4.2

Agenda:
- Coding questions
- Tabs in python. 

Some relevant coding humor: https://www.youtube.com/watch?v=JfEIkkDkrmE
- All about final projects

See final project files on github under Course Materials folder

# Lab 4.2

**E.1** Complete intermediate python chapter 3: Logic, Control Flow and Filtering

Note that the tutorials here have similar material for your needs:
https://github.com/chsharrison/IntroSciComp_S2021/blob/main/Class_materials/resources.md

**E.2** Make notes for yourself on all of the progamming tecniques and commands you learned in the datacamp chapter above, including examples, comments and explainitory text. You can do this here or in a separate notebook that you link to here. Basically, you are making a cheat sheet for yourself.

== :equals
!= :doesn't equal
< :less than 
> :greater than
<= :less than or equal to 
>= :greater than or equal to 
"and" :means both have to be true
'or' :means only one has to be true
'not' :means the opposite boolean value is returned from what is within not()
if: if condition is True then then perform function after ":" symbol
else: if "if" condition is not met then perform function after "else"
elif: functions like else and if, can have mulitple elif inbetween if and else if needed

**E.3** Exercise 1 on https://www.practicepython.org

In [41]:
age = input("Enter your age: ")
age = int(age)
time= 2021+(100-age)
print('You will turn 100 in '+  str(time))

Enter your age:  32

You will turn 100 in 2089

**E.4** Exercise 2 on https://www.practicepython.org

In [56]:
number = input("Enter a number: ")
e4 = int(number) % 2
if e4 == 0:
    print(str(number)+" is an even number")
else:
    print(str(number)+" is an odd number")

Enter a number:  34

34 is an even number

Don't forget to do some practicing of what you have been learning, including previous labs

**You did it!**