In [1]:
import numpy as np 
import pandas as pd

### Dictionaries

In [2]:
#create a dictionary 
tswift = {"folklore":["cardigan","mirrorball","peace"],
         "evermore":["willow","ivy","gold rush"],
         "lover":["cornelia st","daylight","the man"]}

In [4]:
#checking the keys of our dictionary
tswift.keys()

dict_keys(['folklore', 'evermore', 'lover'])

In [5]:
#geting value that belongs to key 
tswift["evermore"]

['willow', 'ivy', 'gold rush']

In [6]:
#add to our dictionary 
tswift["reputation"]=["delicate","gorgeous","end game"]

{'folklore': ['cardigan', 'mirrorball', 'peace'],
 'evermore': ['willow', 'ivy', 'gold rush'],
 'lover': ['cornelia st', 'daylight', 'the man'],
 'reputation': ['delicate', 'gorgeous', 'end game']}

### Pandas

In [7]:
#make it into a dataframe 
tswift_pd = pd.DataFrame(tswift)
tswift_pd

     folklore   evermore        lover reputation
0    cardigan     willow  cornelia st   delicate
1  mirrorball        ivy     daylight   gorgeous
2       peace  gold rush      the man   end game

In [14]:
#add to our dataframe 
songs = {"folklore":16,"evermore":15,"lover":18,"reputation":15}
tswift_pd = tswift_pd.append(songs, ignore_index=True)

In [15]:
tswift_pd

     folklore   evermore        lover reputation
0    cardigan     willow  cornelia st   delicate
1  mirrorball        ivy     daylight   gorgeous
2       peace  gold rush      the man   end game
3          16         15           18         15

In [16]:
#add row labels 
row_labels =["song 1","song 2","song 3","total songs"]
tswift_pd.index = row_labels
tswift_pd

               folklore   evermore        lover reputation
song 1         cardigan     willow  cornelia st   delicate
song 2       mirrorball        ivy     daylight   gorgeous
song 3            peace  gold rush      the man   end game
total songs          16         15           18         15

In [17]:
#single brackets creates a series
tswift_pd["lover"]

song 1         cornelia st
song 2            daylight
song 3             the man
total songs             18
Name: lover, dtype: object

In [18]:
#double brackets creates a dataframe 
tswift_pd[["lover"]]

                   lover
song 1       cornelia st
song 2          daylight
song 3           the man
total songs           18

In [19]:
#select for songs 2 and 3 using iloc
tswift_pd.iloc[1:3,:]

          folklore   evermore     lover reputation
song 2  mirrorball        ivy  daylight   gorgeous
song 3       peace  gold rush   the man   end game

In [22]:
#select for songs 2 and 3 using loc
tswift_pd.loc[["song 2","song 3"],["folklore","evermore","lover","reputation"]]

          folklore   evermore     lover reputation
song 2  mirrorball        ivy  daylight   gorgeous
song 3       peace  gold rush   the man   end game

In [29]:
#selecting a row from a dataframe
total1=tswift_pd.iloc[3,:]
total2=tswift_pd.iloc[[3]]

In [30]:
#since total1 is a series we can use np.mean to find the avg songs in an album
np.mean(total1)

16.0

In [37]:
#toget the mean from a dataframe we have to use pd.mean 
total2.mean(1)#1 because row 0 has the keys, row 1 has the total songs

total songs    16.0
dtype: float64

### IF Statements

Make a calculator that gives you your letter grade

In [66]:
#Input grades for three tests
test1 = input("Grade for test 1: ")
test2 = input("Grade for test 2: ")
test3 = input("Grade for test 3: ")

Grade for test 1: 55
Grade for test 2: 65
Grade for test 3: 75

In [67]:
#make test grades int
test2 = int(test2)
test3 = int(test3)
test1 = int(test1)

In [68]:
#calculate average of test grades
test_avg = (test1+test2+test3)/3

In [70]:
#If statement to print out your letter grade
if test_avg >= 90:
    print("Your letter grade will be an A")
elif test_avg < 90 and test_avg >= 80:
    print("Your letter grade will be a B")
elif test_avg < 80 and test_avg >=70:
    print("Your letter grade will be a C")
else:
    print("Your letter grade will be a D")

Your letter grade will be a D