Make a temperature converter

In [2]:
#make a function that will convert temperature

def tempconvert(temp,scale,targetscale):
    if scale == "C" and targetscale == "F":
        tempresult= (temp*1.8)+32
    elif scale == "F" and targetscale == "C":
        tempresult = (temp-32)/1.8
    elif scale == "C" and targetscale == "K":
        tempresult = temp + 273.15
    elif scale == "F" and targetscale == "K":
        tempresult = (temp +459.67)*5/9
    elif scale == "K" and targetscale == "F":
        tempresult = (temp*9/5)-459.67
    elif scale == "K" and targetscale == "C":
        tempresult = temp - 273.15
    
    return tempresult

In [3]:
#convert 300 K to F
tempconvert(300,"K","F")

80.32999999999998

In [4]:
#convert 110 C to F
tempconvert(110,"C","F")

230.0

In [5]:
#make a dictionary of running stats for Feb 
run = {"Distance (mi)":[3.14,2.56,2.25,2.26,2.25,3.12,2.5,2.25],
      "Time (min)": [36,29,25,25,26,36,28,25]}

In [6]:
run

{'Distance (mi)': [3.14, 2.56, 2.25, 2.26, 2.25, 3.12, 2.5, 2.25],
 'Time (min)': [36, 29, 25, 25, 26, 36, 28, 25]}

In [8]:
import pandas as pd

In [12]:
run_df = pd.DataFrame(run)
run_df

   Distance (mi)  Time (min)
0           3.14          36
1           2.56          29
2           2.25          25
3           2.26          25
4           2.25          26
5           3.12          36
6           2.50          28
7           2.25          25

In [15]:
run_df["Distance (mi)"].mean()

2.5412500000000002

In [16]:
run_df["Distance (mi)"].std()

0.383422091173683

In [17]:
run_df["Time (min)"].mean()

28.75

In [18]:
run_df["Time (min)"].std()

4.713203338949606