put your name, etc here

In [ ]:
Dwight Capus

# Lecture 1.2

Short lecture today, and mostly logistics. I will introduce the final projects and grading next week. (Sorry!) Short story for the grading is that you have to complete these first labs to pass the class, and I am grading them in a binary done/not-done scheme. So you need to complete them.

Lecture Agenda:

* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in  your folder. In general, all lab work for the week is due Sunday before midnight on blackboard.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [46]:
x=5

In [60]:
y=True

In [61]:
d = 4.1

In [69]:
a="five"

**W.2** Print out the value and check the type of each variable

In [82]:
print(d)
type(d)

4.1

float

In [83]:
print(x)
type(x)

5

int

In [84]:
print(d)
type(d)

4.1

float

In [91]:
print(y)
type(y)

True

bool

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [76]:
f=str(a)

In [90]:
type(a)

str

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur Perin√© https://youtu.be/JGL-eQAAxGs see 10:45)

In [81]:
print("Bueno " * 5)

Bueno Bueno Bueno Bueno Bueno

**W.5** Do the same thing using addtion

In [80]:
print("Bueno " + "Bueno " + "Bueno " + "Bueno " + "Bueno ")

Bueno Bueno Bueno Bueno Bueno

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

In [89]:
print( 5.2 + 5) #float

10.2

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

In [93]:
t=int(y)

In [101]:
type(t) #Yeah :( The resulting variable is integer

int

In [97]:
fl00At=int(d)

In [99]:
type(fl00At) #Ha! You can convert it.

int

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

In [81]:
zed1=["Zedric","Capus",1.7272,72.5,25]  #meter and kg

In [39]:
Mary1=["Mary","PArco",1.5748,52.16,21]

In [16]:
Denise1=["Denise","Capus",1.6002,54.4311,27]

In [42]:
Day1=["Danielle","Capus",1.7272,77.1107,22]

In [38]:
Keni1=["Keni","Causon",1.6002,65.7,19]

In [ ]:
**E.2.2** Now create a new list that calculates the BMI of each person using the lists you created before

In [80]:
bmi=[zed1[3]/zed1[2]**2,Mary1[3]/Mary1[2]**2,Denise1[3]/Denise1[2]**2,Day1[3]/Day1[2]**2,Keni1[3]/Keni1[2]**2] #BMI=m/h^2

In [52]:
print(bmi)

[24.3026005083152, 21.032300129116386, 21.25683389688775, 25.848145338159185, 25.657647687177462]

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, after 9 mo of COVID we all ate too much comfort foods.)

In [53]:
bmi_result=["Normal","Normal","Normal","Overweight","Overweight"]

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [69]:
print(zed1[0],zed1[1],"age", zed1[4],"has a height of", zed1[2], "and weight of", zed1[3],"giving them a body, mass index BMI of",bmi[0], "making them",bmi_result[0], "where", bmi_result[0], "is if they are normal, obese, etc.")

Zedric Capus age 25 has a height of 1.7272 and weight of 72.5 giving them a body, mass index BMI of 24.3026005083152 making them Normal where Normal is if they are normal, obese, etc.

In [70]:
print(Mary1[0],Mary1[1],"age", Mary1[4],"has a height of", Mary1[2], "and weight of", Mary1[3],"giving them a body, mass index BMI of",bmi[1], "making them",bmi_result[1], "where", bmi_result[1], "is if they are normal, obese, etc.")

Mary PArco age 21 has a height of 1.5748 and weight of 52.16 giving them a body, mass index BMI of 21.032300129116386 making them Normal where Normal is if they are normal, obese, etc.

In [75]:
print(Denise1[0],Denise1[1],"age", Denise1[4],"has a height of", Denise1[2],"meter and weight of",Denise1[3],"kg giving them a body, mass index BMI of",bmi[2], "making them",bmi_result[2], "where", bmi_result[2], "is if they are normal, obese, etc.")

Denise Capus age 27 has a height of 1.6002 meter and weight of 54.4311 kg giving them a body, mass index BMI of 21.25683389688775 making them Normal where Normal is if they are normal, obese, etc.

In [76]:
print(Day1[0],Day1[1],"age", Day1[4],"has a height of", Day1[2],"meter and weight of",Day1[3],"kg giving them a body, mass index BMI of",bmi[3], "making them",bmi_result[3], "where", bmi_result[3], "is if they are normal, obese, etc.")

Danielle Capus age 22 has a height of 1.7272 meter and weight of 77.1107 kg giving them a body, mass index BMI of 25.848145338159185 making them Overweight where Overweight is if they are normal, obese, etc.

In [79]:
print(Keni1[0],Keni1[1],"age", Keni1[4],"has a height of", Keni1[2],"meter and weight of",Keni1[3],"kg giving them a body, mass index BMI of",bmi[3], "making them",bmi_result[4], "where", bmi_result[4], "is if they are normal, obese, etc.")

Keni Causon age 19 has a height of 1.6002 meter and weight of 65.7 kg giving them a body, mass index BMI of 25.848145338159185 making them Overweight where Overweight is if they are normal, obese, etc.

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [90]:
zed1 + [bmi[0], bmi_result[0]]

['Zedric', 'Capus', 1.7272, 72.5, 25, 24.3026005083152, 'Normal']

In [93]:
Mary1 + [bmi[1], bmi_result[1]]

['Mary', 'PArco', 1.5748, 52.16, 21, 21.032300129116386, 'Normal']

In [94]:
Denise1 + [bmi[2], bmi_result[2]]

['Denise', 'Capus', 1.6002, 54.4311, 27, 21.032300129116386, 'Normal']

In [95]:
Keni1 + [bmi[3], bmi_result[3]]

['Keni', 'Causon', 1.6002, 65.7, 19, 21.25683389688775, 'Normal']

In [96]:
Day1 + [bmi[4], bmi_result[4]]

['Danielle', 'Capus', 1.7272, 77.1107, 22, 25.657647687177462, 'Overweight']

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Blackboard.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above

In [ ]:
zed2= zed1 + [bmi[0], bmi_result[0]]

In [97]:
print(zed2)

['Zedric', 'Capus', 1.7272, 72.5, 25, 24.3026005083152, 'Normal']