Name

Labpartner(s)

In [5]:
#import statements go here
import numpy as np
import pandas as pd

# Class 8.1

I realized I wrote our syllabus and schedule of material like we weren't going to be one year into a global pandemic. So I am adjusting and making a more realistic schedule (more on Wed), which means scaling back the amount of material we will cover, and for now doing one chapter in datacamp a class instead of two or more. If by some miracle you have the mental bandwith, feel free to do extra work, but I in no way expect or encourage this. The main goal of this class is to empower you all to know how to figure out how to learn what you need, and we will still very much reach this goal. Every scientific progammer I know is self taught, and is learning just like you all, by looking at sample code, googling, and using online resources. You all are doing great! Let's have realistic expectations of ourselves for the next few months.

Here is my suggested order of priorities for you all:

1. Personal health (physical, mental, emotional). You have to take care of your health so you can help others.
1. Health of loved ones (physical, mental, emotional).
1. Research (if you are a grad student particularly)
1. Classwork (you might need to put this above research if you need perfect grades for fellowships, etc.)

# Warmups 8.1

Short warmup today as we are doing show us your functions (1:45-2:05)

**W.1** Do Practice Python #12, list ends https://www.practicepython.org/exercise/2014/04/25/12-list-ends.html

In [3]:
a = [5, 10, 15, 20, 25]
type(a)

list

In [8]:
first= a[0]
first

5

In [7]:
sec=a[4]
sec

25

# Lecture 8.1

### Agenda:

- Questions
- Show us your funtions!

### Questions

### Show us your functions

The project for last week was to write two funtions, one that manipulates or analyzes your data, and one that plots it.

# Lab 8.1

**E.1** Complete Data Manipulation with pandas Ch 1 in datacamp.

**E.2** Make notes for yourself on progamming tecniques and commands you learned in the datacamp chapter above, including examples, comments and explainitory text. You can do this here or in a separate notebook that you link to here. Basically, you are making a cheat sheet for yourself.

In [37]:
pet=([['Lucy','German Sheperd','brown',56,20,'2013-12-01'], 
     ['Gabby','Labrador','black',43, 21,'2012-02-01'],
     ['Charlie','poodle','white', 50, 22, '2013-02-02'],['coco', 'bulldog', 'yellow', 45, 23, '2013-02-05']])
pet

[['Lucy', 'German Sheperd', 'brown', 56, 20, '2013-12-01'],
 ['Gabby', 'Labrador', 'black', 43, 21, '2012-02-01'],
 ['Charlie', 'poodle', 'white', 50, 22, '2013-02-02'],
 ['coco', 'bulldog', 'yellow', 45, 23, '2013-02-05']]

sorting rows, subsetting columns, subsetting rows, and adding new columns.

In [31]:
mypet=pd.read_csv('Dataframe_prac.csv', sep=',', index_col=0)
mypet.values

array([['German Sheperd', 'brown', 56, 20, '2013-12-01'],
       ['Labrador', 'black', 43, 21, '2012-02-01'],
       ['poodle', 'white', 50, 22, '2013-02-02'],
       ['bulldog', 'yellow', 45, 23, '2013-02-05']], dtype=object)

In [32]:
mypet

                  Breed   Color  height_cm  weight_kg date_of_birth
Name
Bella    German Sheperd   brown         56         20    2013-12-01
Lucy           Labrador   black         43         21    2012-02-01
Charlie          poodle   white         50         22    2013-02-02
coco            bulldog  yellow         45         23    2013-02-05

In [33]:
mypet.columns

Index(['Breed', 'Color', 'height_cm', 'weight_kg', 'date_of_birth'], dtype='object')

In [34]:
mypet.index

Index(['Bella', 'Lucy', 'Charlie', 'coco'], dtype='object', name='Name')

In [36]:
mypet.head

<bound method NDFrame.head of                   Breed   Color  height_cm  weight_kg date_of_birth
Name
Bella    German Sheperd   brown         56         20    2013-12-01
Lucy           Labrador   black         43         21    2012-02-01
Charlie          poodle   white         50         22    2013-02-02
coco            bulldog  yellow         45         23    2013-02-05>

.head() returns the first few rows (the “head” of the DataFrame).
.info() shows information on each of the columns, such as the data type and number of missing values.
.shape returns the number of rows and columns of the DataFrame.
.describe() calculates a few summary statistics for each column.

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

In [40]:
#Subsetting rows
mypet[mypet['height_cm'] > 46 ]

                  Breed  Color  height_cm  weight_kg date_of_birth
Name
Bella    German Sheperd  brown         56         20    2013-12-01
Charlie          poodle  white         50         22    2013-02-02

In [41]:
mypet[mypet['height_cm'] > 46 ]

                  Breed  Color  height_cm  weight_kg date_of_birth
Name
Bella    German Sheperd  brown         56         20    2013-12-01
Charlie          poodle  white         50         22    2013-02-02

In [43]:
mypet[mypet['date_of_birth'] < "2013-03-03" ]

            Breed   Color  height_cm  weight_kg date_of_birth
Name
Lucy     Labrador   black         43         21    2012-02-01
Charlie    poodle   white         50         22    2013-02-02
coco      bulldog  yellow         45         23    2013-02-05

Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones

In [46]:
likecolor=mypet[mypet['Color'].isin(['black','white'])]
likecolor

            Breed  Color  height_cm  weight_kg date_of_birth
Name
Lucy     Labrador  black         43         21    2012-02-01
Charlie    poodle  white         50         22    2013-02-02

adding column

In [48]:
mypet["Owned"] = ["Yes", "no","Yes","No"]
mypet

                  Breed   Color  height_cm  weight_kg date_of_birth Owned
Name
Bella    German Sheperd   brown         56         20    2013-12-01   Yes
Lucy           Labrador   black         43         21    2012-02-01    no
Charlie          poodle   white         50         22    2013-02-02   Yes
coco            bulldog  yellow         45         23    2013-02-05    No

### This week's project:

This week we will be doing a CV assignment in LaTeX, which I will introduce on Wed. For now, you can go check out Overleaf (https://www.overleaf.com) and make an account, and get zotero running on your computer (https://www.zotero.org) and make an account; you will need the downloaded version. If you're really excited, you can try to get the zotero plugin working in a web browser and install the Word plug in, but this is not requried until later this week and I will explain on Wednesday.