In [1]:
#Practice
import numpy as np
import pandas as pd

In [2]:
prac_1 = pd.read_csv('http://scipy-lectures.org/_downloads/populations.txt',sep='\t', index_col='# year')
print(prac_1)

           hare     lynx  carrot
# year
1900    30000.0   4000.0   48300
1901    47200.0   6100.0   48200
1902    70200.0   9800.0   41500
1903    77400.0  35200.0   38200
1904    36300.0  59400.0   40600
1905    20600.0  41700.0   39800
1906    18100.0  19000.0   38600
1907    21400.0  13000.0   42300
1908    22000.0   8300.0   44500
1909    25400.0   9100.0   42100
1910    27100.0   7400.0   46000
1911    40300.0   8000.0   46800
1912    57000.0  12300.0   43800
1913    76600.0  19500.0   40900
1914    52300.0  45700.0   39400
1915    19500.0  51100.0   39000
1916    11200.0  29700.0   36700
1917     7600.0  15800.0   41800
1918    14600.0   9700.0   43300
1919    16200.0  10100.0   41300
1920    24700.0   8600.0   47300

In [3]:
prac_1.sum()

hare      715700.0
lynx      423500.0
carrot    890400.0
dtype: float64

In [4]:
prac_1.idxmin()

hare      1917
lynx      1900
carrot    1916
dtype: int64

In [5]:
prac_1.idxmax()

hare      1903
lynx      1904
carrot    1900
dtype: int64

In [11]:
comp_name = (input("Enter company name: "))  #Stock Evaluation
market_cap = int(input("Enter market cap: "))
tot_rev= int(input("Total Revenue in 12 months: "))
cash = int(input("Cash and Short investment: "))
longterm= int(input("Enter long term investment: "))
depth = int(input("Enter total dept: "))
ent_value = market_cap + depth - cash - longterm
x= int(ent_value/tot_rev)
print(x)
if x >= 30:
    print('High multiple = Expensive, overbought')
else:
    print('low multiple = cheap, undervalued')

Enter company name:  shell
Enter market cap:  113900000000
Total Revenue in 12 months:  3625700000
Cash and Short investment:  3074000000
Enter long term investment:  13000000
Enter total dept:  0

30
High multiple = Expensive, overbought