In [1]:
#practice

In [20]:
fam = [1.73, 1.68, 1.78, 2]
for one, height in enumerate(fam):
    print("index " + str(one + 1) + ":" + str(height))

index 1:1.73
index 2:1.68
index 3:1.78
index 4:2

In [33]:
total=0
for i in range(1,5):
    print(i)

1
2
3
4

In [32]:
total=0
for i in range(1,5):
    total += i
    print(total)
    
total=0
for i in range(1,5):
    total += i
print(total)

1
3
6
10
10

In [18]:
x=list(range(1, 5))

In [19]:
z = x + ['zedric']
z

[1, 2, 3, 4, 'zedric']

In [21]:
z.append('Zedirc')

In [22]:
z

[1, 2, 3, 4, 'zedric', 'Zedirc']

In [36]:
data = {'kobe' : [24, 81, 38, " 6'4 ",],
       'Shaq': [25, 45, 38, "6'10",]}
data            #this is dictionary

{'kobe': [24, 81, 38, " 6'4 "], 'Shaq': [25, 45, 38, "6'10"]}

In [43]:
import pandas as pd
df=pd.DataFrame(data)

In [39]:
df

    kobe  Shaq
0     24    25
1     81    45
2     38    38
3   6'4   6'10