put your name, etc here

In [ ]:
# Luz Ballesteros Gonzalez, 01/19/2020

# Lecture 1.2

Short lecture today, and mostly logistics. I will introduce the final projects and grading next week. (Sorry!) Short story for the grading is that you have to complete these first labs to pass the class, and I am grading them in a binary done/not-done scheme. So you need to complete them.

Lecture Agenda:

* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in  your folder. In general, all lab work for the week is due Sunday before midnight on blackboard.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [6]:
x = 1

In [46]:
y = 1.5

In [47]:
z = "variable"

In [48]:
Number = True

**W.2** Print out the value and check the type of each variable

In [7]:
print(x)

1

In [50]:
type(x)

int

In [49]:
print(y)

1.5

In [51]:
type(y)

float

In [52]:
print(z)

variable

In [53]:
type(z)

str

In [54]:
print(Number)

True

In [55]:
type(Number)

bool

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [59]:
y1 = "1.5"

In [60]:
print(y1)

1.5

In [61]:
type(y1)

str

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur Perin√© https://youtu.be/JGL-eQAAxGs see 10:45)

In [65]:
B = "Bueno"

In [70]:
print(B*5)

BuenoBuenoBuenoBuenoBueno

**W.5** Do the same thing using addtion

In [71]:
print(B + B + B + B + B)

BuenoBuenoBuenoBuenoBueno

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

In [72]:
print(x + y)

2.5

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

In [ ]:
# Yes, you can convert a Boolian to an integer. So True = 0 , and False = 1. If you convert a float to an integer it becomes a whole number.

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

In [8]:
First_name = ["Karen", "Leo", "Eddie", "Miguel", "Robert"]

In [15]:
print(First_name)

['Karen', 'Leo', 'Eddie', 'Miguel', 'Robert']

In [21]:
Last_name = ["Pena", "Ballesteros", "Villa", "Quintanilla", "Gonzalez"]

In [22]:
print(Last_name)

['Pena', 'Ballesteros', 'Villa', 'Quintanilla', 'Gonzalez']

In [10]:
Height = [1.60, 1.80, 1.80, 1.75, 1.70]

In [17]:
print(Height)

[1.6, 1.8, 1.8, 1.75, 1.7]

In [23]:
Weight = [60, 90, 75, 90, 80]

In [24]:
print(Weight)

[60, 90, 75, 90, 80]

In [12]:
Age = [25, 20, 21, 27, 23]

In [19]:
print(Age)

[25, 20, 21, 27, 23]

# E.2.2 Now create a new list that calculates the BMI of each person using the lists you created before

In [ ]:
# formula for BMI = Weight[x]/Height[x]**2

In [42]:
BMI = [[(print(Weight[0] / Height[0]**2))], 
       [print(Weight[1] / Height[1]**2)],
       [print(Weight[2] / Height[2]**2)], 
       [print(Weight[3] / Height[3]**2)],
       [print(Weight[4] / Height[4]**2)]]

23.437499999999996
27.777777777777775
23.148148148148145
29.387755102040817
27.68166089965398

In [73]:
BMI_final = [23.4, 27.8, 23.1, 29.4, 27.7]

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, after 9 mo of COVID we all ate too much comfort foods.)

In [ ]:
# I just google the BMI chart and there is 5 categories 
# Normal 18.5-25 
# Overweight 25-30

In [89]:
n = "Normal"

In [90]:
o = "Overweight"

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [91]:
print(First_name[0], Last_name[0], Age[0], Height[0], Weight[0], BMI_final[0], n)

Karen Pena 25 1.6 60 23.4 Normal

In [92]:
print(First_name[1], Last_name[1], Age[1], Height[1], Weight[1], BMI_final[1], o)

Leo Ballesteros 20 1.8 90 27.8 Overweight

In [93]:
print(First_name[2], Last_name[2], Age[2], Height[2], Weight[2], BMI_final[2], n)

Eddie Villa 21 1.8 75 23.1 Normal

In [94]:
print(First_name[3], Last_name[3], Age[3], Height[3], Weight[3], BMI_final[3], o)

Miguel Quintanilla 27 1.75 90 29.4 Overweight

In [95]:
print(First_name[4], Last_name[4], Age[4], Height[4], Weight[4], BMI_final[4], o)

Robert Gonzalez 23 1.7 80 27.7 Overweight

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [97]:
First_name + ["Luz"]

['Karen', 'Leo', 'Eddie', 'Miguel', 'Robert', 'Luz']

In [98]:
Last_name + ["Ballesteros"]

['Pena', 'Ballesteros', 'Villa', 'Quintanilla', 'Gonzalez', 'Ballesteros']

In [99]:
Age + [23]

[25, 20, 21, 27, 23, 23]

In [100]:
Height + [1.60]

[1.6, 1.8, 1.8, 1.75, 1.7, 1.6]

In [101]:
Weight + [58]

[60, 90, 75, 90, 80, 58]

In [102]:
BMI_final + [22.6]

[23.4, 27.8, 23.1, 29.4, 27.7, 22.6]

In [105]:
print(First_name[5], Last_name[5], Age[5], Height[5], Weight[5], BMI_final[5], n)

IndexError: list index out of range

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Blackboard.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above