Name

In [ ]:
# Reyna Tovar

Labpartner(s)

In [ ]:
# Adam Sanjar

In [4]:
#import statements go here
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Class 9.1

# Warmups 9.1

**W.1** Make your own version of the Fibonacci problem I went over on Wed from Practice Python https://www.practicepython.org/exercise/2014/04/30/13-fibonacci.html

In [4]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms?  7

Fibonacci sequence:
0
1
1
2
3
5
8

# Lecture 9.1

### Agenda:
- Announcements
    - show us your functions redo moved to office hours, new column in BB
- How to kill a job/loop/python session
- Notes slides in datacamp
- Expected grade and missing work assignment
    - Educational family history exercise
    - Assignment info
- Questions

### Questions

# Lab 9.1

**E.1** Complete Data Manipulation with pandas Ch 3 in datacamp.

In [ ]:
# Completed, it was hard!

**E.2** Make notes for yourself on progamming tecniques and commands you learned in the datacamp chapter above, including examples, comments and explainitory text. You can do this here or in a separate notebook that you link to here. Basically, you are making a cheat sheet for yourself.

In [5]:
sales = pd.read_csv("sales_subset.csv")
sales

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2/5/2010,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,3/5/2010,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,4/2/2010,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,5/7/2010,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,6/4/2010,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...,...
10769,10769,39,A,99,12/9/2011,895.00,False,9.644444,0.834256,7.716
10770,10770,39,A,99,2/3/2012,350.00,False,15.938889,0.887619,7.244
10771,10771,39,A,99,6/8/2012,450.00,False,27.288889,0.911922,6.989
10772,10772,39,A,99,7/13/2012,0.06,False,25.644444,0.860145,6.623
10773,10773,39,A,99,10/5/2012,915.00,False,22.250000,0.955511,6.228

In [6]:
# ".Head" Prints the heading of the sales DataFrame
print(sales.head())

   Unnamed: 0  store type  department      date  weekly_sales  is_holiday  \
0           0      1    A           1  2/5/2010      24924.50       False
1           1      1    A           1  3/5/2010      21827.90       False
2           2      1    A           1  4/2/2010      57258.43       False
3           3      1    A           1  5/7/2010      17413.94       False
4           4      1    A           1  6/4/2010      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [7]:
# ".info" Prints the info, columns, range, about the sales DataFrame
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB
None

In [8]:
# Prints the mean of weekly_sales
print((sales['weekly_sales']).mean())

23843.950148505668

In [9]:
# Prints the median of weekly_sales
print((sales['weekly_sales']).median())

12049.064999999999

In [10]:
# Prints the maximum of the date column
print(sales['date'].max())

9/9/2011

### This week's project:

This week you will be doing two things, planning on what grade you will get in this course (due Thursday with lab 9.1) and submitting your research topic (due Sunday with lab 9.2).

**E.3** complete the expected grade assignment (note this has a separate tab in Blackboard for turning in)