In [12]:
print("Your name")

Your name

In [10]:
print("Rocio Hernandez")

Rocio Hernandez

In [ ]:
# Lecture 1.2

Short lecture today, and mostly logistics. I will introduce the final projects and grading next week. (Sorry!) Short story for the grading is that you have to complete these first labs to pass the class, and I am grading them in a binary done/not-done scheme. So you need to complete them.

Lecture Agenda:

* debriefing on first class and homework, how's it going?
* logistics of github, downloading this Lab 1.2 notebook
* commenting and markup in notebooks
* workflow for the class

In general, we will do warmup exercises and lab exercises in a jupyter notebook. For most classes, you will download the notebook from github, open it on your local computer, and then upload your completed work back on github in  your folder. In general, all lab work for the week is due Sunday before midnight on blackboard.

In [ ]:
# here is an example of code commenting. The # symbol means everything on this line will be ignored

Here is an example of markdown text. Because this cell is in markdown mode it will also be ignored by the python shell

In [ ]:
#Ignore me.

## Preliminaries

In our class github site, create a folder for yourself where you will submit your jupyter notebooks. The easiest way to do this is to create a new file that is a placeholder document in the new folder. You can delete it later.

## Warmup exercises

As you are doing these exercises, get familiar with jupyter notebook commands 
https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330

and markdown text https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed

These exercises are based on what you have learned previously. Feel free to go look at what you did in datacamp to figure out how to answer them.

**W.1** Define and assign values to three variables of the three types we learned about Monday: integer, floating point, string and boolian. 

Note you can add more cells below by pressing the + button above or typing [esc] to command mode, then [b] to enter a cell below, or [a] to enter a cell above. See the link above for more commands

In [23]:
b = 500

In [24]:
print(b)

500

In [29]:
a = 2

In [30]:
print(a)

2

In [31]:
c = 5

In [32]:
print(c)

5

In [33]:
a = "hi"

In [34]:
print(a)

hi

In [36]:
b = "becoming easier"

In [37]:
print(b)

becoming easier

In [39]:
c = "Wonderful"

In [40]:
print(c)

Wonderful

In [41]:
a = 1.2

In [42]:
print(a)

1.2

In [43]:
b = 6.5

In [44]:
print(b)

6.5

In [45]:
c = 10.125857395895094508

In [46]:
print(c)

10.125857395895094

In [66]:
type(10.125857395895094)

float

In [48]:
a = "false"

In [49]:
print(a)

false

In [69]:
type("false")

str

In [70]:
a = 1
b = 2

In [71]:
if a < b: 
    print("a is less than b")

a is less than b

In [72]:
boolean_value = a < b

In [73]:
print(boolean_value)

True

**W.2** Print out the value and check the type of each variable

In [74]:
a = 50

In [75]:
print(a)

50

In [76]:
type(a)

int

In [77]:
a = 1.5

In [78]:
print(1.5)

1.5

In [79]:
type(a)

float

In [84]:
a = ("rocio")

In [85]:
type("rocio")

str

In [87]:
a = False

In [88]:
print(a)

False

In [89]:
type(a)

bool

**W.3** Create a new variable that saves the value of the float variable as a string. Print it out

In [96]:
a = 5

In [99]:
a = (str)

In [101]:
print(a)

<class 'str'>

**W.4** Using multiplication of a variable, print out the text "Bueno Bueno Bueno Bueno Bueno" (Shoutout to Monsieur Perin√© https://youtu.be/JGL-eQAAxGs see 10:45)

In [91]:
print("bueno" * 5)

buenobuenobuenobuenobueno

**W.5** Do the same thing using addtion

In [ ]:
print(Bueno + 5)

**W.6** If you add an int and a float, what is the resulting variable type? Demonstrate

In [102]:
num = 3

In [103]:
type("num")

str

In [104]:
a = 1.5

In [105]:
type(a)

float

In [106]:
num + a

4.5

**W.7** Can you convert a Boolian to an interger type variable? If so, what is the resulting value? What happens if you convert a float to an int?

In [111]:
"Yes"

'Yes'

In [112]:
bool(-100)

True

In [114]:
bool(500)

True

In [115]:
bool(0)

False

In [116]:
"You can convert Boolian into an integer just as long as the value isn't zero"

"You can convert Boolian into an integer just as long as the value isn't zero"

In [123]:
x ="100"

In [124]:
int(x)

100

In [126]:
a = '5'

In [127]:
int(a)

5

In [128]:
b = int(a)

In [129]:
print(b)

5

# Lab 1.2

## Lab Exercises

**E.1** Complete Ch 2 of Introduction to Python in datacamp.

**E.2** Below you will spend time practicing what you have learned in Ch 2. Use a comination of code, code commenting, and markdown text to take notes. Make sure you investigate how python syntax works and understand what you are doing, and what went wrong if you have any issues. You can refer to this document later if you need to review, so give future you lots of commenting to be helpful.

**E.2.1** Let's work on lists, indexing and printing out elements of lists.

We are going to calculate the BMI of five family members (or friends/colleaues if you have a small family, or famous people/politicians/atheletes if you really don't like talking to people, they just have to be adults and you need their data). Make intellegently named lists for the first name, last name, height, weight and age of each person. So, five lists in total.

In [217]:
Name = ["Ceci", "David", "Danny", "Diana", "Norma"]

In [218]:
print(Name)

['Ceci', 'David', 'Danny', 'Diana', 'Norma']

In [199]:
last = ["Casas", "Ayala", "Rubio", "Hernandez", "Hess"]

In [200]:
print(last)

['Casas', 'Ayala', 'Rubio', 'Hernandez', 'Hess']

In [1]:
Height = [1.5, 1.7, 1.8, 1.6, 1.5]

In [2]:
print(Height)

[1.5, 1.7, 1.8, 1.6, 1.5]

In [3]:
Weight = [58.9, 79.3, 90.7, 61.2, 68]

In [4]:
print(Weight)

[58.9, 79.3, 90.7, 61.2, 68]

In [207]:
age_yr5 = [34, 30, 28, 38, 40]

In [208]:
print(age_yr5)

[34, 30, 28, 38, 40]

**E.2.2** Now create a new list that calculates the BMI of each person using the lists you created before

In [169]:
#input from siblings

In [ ]:
# the formula for calculating bmi

In [ ]:
print[(weight_kg4[0] / height_m3[0] * height[0]) * 730]

In [6]:
BMI = [[print(Weight[0] / Height[0]**2)], 
       [print(Weight[1] / Height[1]**2)],
       [print(Weight[2] / Height[2]**2)],
       [print(Weight[3] / Height[3]**2)],
       [print(Weight[4] / Height[4]**2)]]

26.177777777777777
27.439446366782008
27.993827160493826
23.906249999999996
30.22222222222222

**E.2.3** Look up the weight classification of each person based on their BMI (what's a good source for this, who do you trust?). Create a new list with this information for each person. (Don't judge, after 9 mo of COVID we all ate too much comfort foods.)

In [23]:
results: [26.1777, 27.43944, 27.99382, 23.90624, 30.2222]

**E.2.3** Let's practice some print statements and iterate manually through the people on your lists.

For each person, print out something like: "First_name last_name, age xx, has a height of xx units and weight of xx units, giving them a body mass index (BMI) of xx, making them yy" where yy is if they are normal, obese, etc.

In [6]:
a0: ("Ceci Casas", 34, 1.5, 58.9, 26.17, "Overweight")

In [7]:
a1: ("David Ayala", 30, 1.7, 79.3, 27.43, "Overweight")

In [ ]:
a2: ("Danny Rubio", 28, 1.8, 90.7, 27.93, "Overweight")

In [ ]:
a3: ("Diana Hernandez", 38, 1.6, 61.2, 23.9, "Normal")

In [9]:
a4: ("Norma Hess", 40, 1.5, 68, 30.2, "Obese")

**E.2.4** Now add/append your information to each of the lists, and do the same print statement for you. Make a resolution to eat more veggies.

In [ ]:
#Eat more veggies.

When you are done with your lab, upload this document to your github folder on the class site. Then submit a url link to the completed lab, along with a screenshot of your completed Ch 2 score in datacamp, to the assignment tab in Blackboard.

# Scratch

In [5]:
# this is an area of the notebook you can mess around and test things out, if you don't want to put it above